.home-body {
  background-image: url('src/assets/mean.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 170% 100%;
  background-position: center center;

  width: 100vw;
  height: 100vh;
}
