<div [formGroup]="formGroup" class="form">
<!--  <mat-form-field appearance="legacy">-->
    <mat-label>{{title}}</mat-label>
    <input matInput
           [placeholder]="placeholder"
           [name]="controlName"
           [formControlName]="controlName">
    <mat-error *ngIf="fieldValidator.hasErrorValidate(formControl,'required')">
      {{sharedComponentValues.validator.required}}
    </mat-error>
    <mat-error *ngIf="fieldValidator.hasErrorValidate(formControl, 'minlength')">
      {{sharedComponentValues.validator.minlength}} {{fieldValidator.lengthValidate(formControl, 'minlength')}}
    </mat-error>
    <mat-error *ngIf="fieldValidator.hasErrorValidate(formControl, 'maxlength')">
      {{sharedComponentValues.validator.maxlength}} {{fieldValidator.lengthValidate(formControl, 'maxlength')}}
    </mat-error>
<!--  </mat-form-field>-->
</div>
