<div [formGroup]="formGroup" class="form">
  <mat-form-field>
    <mat-label>{{title}}</mat-label>
    <input matInput
           [placeholder]="placeholder"
           [name]="controlName"
           [formControlName]="controlName">
    <mat-error *ngIf="fieldValidator.hasErrorValidate(formControl,'required')">
      {{validatorMessageValues.validator.required}}
    </mat-error>
    <mat-error *ngIf="fieldValidator.hasErrorValidate(formControl, 'minlength')">
      {{validatorMessageValues.validator.minlength}} {{fieldValidator.lengthValidate(formControl, 'minlength')}}
    </mat-error>
    <mat-error *ngIf="fieldValidator.hasErrorValidate(formControl, 'maxlength')">
      {{validatorMessageValues.validator.maxlength}} {{fieldValidator.lengthValidate(formControl, 'maxlength')}}
    </mat-error>
  </mat-form-field>
</div>
