<mat-toolbar color="primary">
  <button mat-icon-button aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Base</span>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="home">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>


