<section class="body-instagram-challenge">
    <div class="instagram-wrapper">
        <div class="instagram-phone">
            <img src="../../../assets/dio/img-instagram-challenge/instagram-celular.png"
                 alt="cell">
        </div>
        <div class="instagram-continue">
            <div class="group">
                <img src="../../../assets/dio/img-instagram-challenge/instagram-logo.png"
                     class="instagram-logo"
                     alt="logo-instagram">
                <div class="profile-photo">
                    <img src="../../../assets/profile/profile-photo.jpg" alt="profile photo user">
                </div>
                <a href="#" class="instagram-login">Continue como @fabiano-ramires</a>
                <a href="" class="instagram-logout">Remover conta</a>
            </div>
            <div class="group">
                <p class="not-account">Não é @fabiano-ramires</p>
                <p class="not-account">
                    <span class="link-blue">Alterar Contas</span>
                    ou
                    <span class="link-blue">Inscreva-se</span>
                </p>
            </div>
            <div class="get-the-app">
                <p class="get-app">Baixe o aplicativo</p>
                <div class="download">
                    <a href="#" class="app-download"></a>
                    <a href="#" class="app-download"></a>
                </div>
            </div>
        </div>
    </div>
</section>

