.doctor-layout {
  display: grid;
  width: 100vw;
  height: 80vh;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 2fr 8fr 2fr;
  grid-template-areas:
    ". . ."
    ". card ."
    ". . ."
}
.doctor-card-form {
  grid-area: card;
}

.doctor-btn {
  display: flex;
  flex-direction: row-reverse;
}

.doctor-input{
  display: flex;
  flex-direction: column;
}

.doctor-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.btn-doctor-form {
  display: flex;
  flex-direction: row-reverse;
}

.mat-icon-button {
  margin-left: 20px;
}


