<div class="doctor-layout">
  <mat-card class="mat-body-2 doctor-card-form">
    <mat-card-header>
      <mat-card-title>Médico</mat-card-title>
      <mat-card-subtitle>Cadastro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <form *ngIf="true" [formGroup]="doctorForm" (ngSubmit)="onSubmit()">

      <fdr-input-text title="{{medicalAppointmentsValues.title.user.inputTextName}}" class="doctor-input"
                      controlName="name"
                      [formGroup]="doctorForm"
                      placeholder="{{medicalAppointmentsValues.placeholder.user.inputTextName}}">
      </fdr-input-text>
      <fdr-input-text title="{{medicalAppointmentsValues.title.user.inputTextEmail}}" class="doctor-input"
                      controlName="email"
                      [formGroup]="doctorForm"
                      placeholder="{{medicalAppointmentsValues.placeholder.user.inputTextEmail}}">
      </fdr-input-text>
      <fdr-input-text title="{{medicalAppointmentsValues.title.user.inputTextPassword}}" class="doctor-input"
                      controlName="password"
                      [formGroup]="doctorForm"
                      placeholder="{{medicalAppointmentsValues.placeholder.user.inputTextPassword}}">
      </fdr-input-text>
      <fdr-input-text title="{{medicalAppointmentsValues.title.user.inputTextPhoneNumber}}" class="doctor-input"
                      controlName="phoneNumber"
                      [formGroup]="doctorForm"
                      placeholder="{{medicalAppointmentsValues.placeholder.user.inputTextPhoneNumber}}">
      </fdr-input-text>

      <fdr-input-text title="{{medicalAppointmentsValues.title.user.doctor.inputTextSpecialization}}" class="doctor-input"
                      controlName="specialization"
                      [formGroup]="doctorForm"
                      placeholder="{{medicalAppointmentsValues.placeholder.user.doctor.inputTextSpecialization}}">
      </fdr-input-text>

      <div class="btn-doctor-form">
        <button mat-icon-button type="submit" mat-button color="primary"
                matTooltip="{{formArtefactsValues.tooltip.save}}" matTooltipPosition="above">
          <mat-icon>save</mat-icon>
        </button>

        <button mat-icon-button type="reset" mat-button color="primary" (click)="onReset()"
                matTooltip="{{formArtefactsValues.tooltip.reset}}" matTooltipPosition="above">
          <mat-icon>clear</mat-icon>
        </button>

        <button mat-icon-button type="button" mat-button color="primary" (click)="cancel()"
                matTooltip="{{formArtefactsValues.tooltip.return}}" matTooltipPosition="above">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
</div>


<!--bkp para testar form abstract-->
<!--  <mat-card class="context">-->
<!--    <form [formGroup]="resourceForm" (submit)="submitForm()">-->

<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          Médico-->
<!--        </div>-->

<!--        <div class="card-body">-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-4">-->
<!--              <label for="name">Nome</label>-->
<!--              <input type="text" class="form-control" id="name" formControlName="name">-->

<!--              <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>-->
<!--            </div>-->

<!--            &lt;!&ndash;        <div class="form-group col-md-8">&ndash;&gt;-->
<!--            &lt;!&ndash;          <label for="description">Descrição</label>&ndash;&gt;-->
<!--            &lt;!&ndash;          <input type="text" class="form-control" id="description" formControlName="description">&ndash;&gt;-->
<!--            &lt;!&ndash;        </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <app-server-error-doctors [server-error-doctors]="serverErrorMessages"></app-server-error-doctors>-->

<!--      <button [disabled]="submittingForm || resourceForm.invalid" type="submit"-->
<!--              class="btn btn-primary btn-lg float-right mt-3">-->
<!--        Salvar-->
<!--      </button>-->
<!--    </form>-->
<!--  </mat-card>-->

