.doctor-layout {
  display: grid;
  /*width: 100vw;*/
  height: 40vh;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    ". . ."
    ". context ."
    ". . ."
}
.context {
  grid-area: context;
}


