<mat-card class="doctor-layout">
  <form class [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
    <app-input-text title="Nome"
                     controlName="name"
                     [formGroup]="doctorForm"
                     placeholder="Informe o nome">
    </app-input-text>
  </form>
</mat-card>


<!--  <mat-card class="context">-->
<!--    <form [formGroup]="resourceForm" (submit)="submitForm()">-->

<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          Médico-->
<!--        </div>-->

<!--        <div class="card-body">-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-4">-->
<!--              <label for="name">Nome</label>-->
<!--              <input type="text" class="form-control" id="name" formControlName="name">-->

<!--              <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>-->
<!--            </div>-->

<!--            &lt;!&ndash;        <div class="form-group col-md-8">&ndash;&gt;-->
<!--            &lt;!&ndash;          <label for="description">Descrição</label>&ndash;&gt;-->
<!--            &lt;!&ndash;          <input type="text" class="form-control" id="description" formControlName="description">&ndash;&gt;-->
<!--            &lt;!&ndash;        </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>-->

<!--      <button [disabled]="submittingForm || resourceForm.invalid" type="submit"-->
<!--              class="btn btn-primary btn-lg float-right mt-3">-->
<!--        Salvar-->
<!--      </button>-->
<!--    </form>-->
<!--  </mat-card>-->

