<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Agendamento de Consultas Médicas</mat-card-title>
    <mat-card-subtitle>Escolha atividade:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex fxLayoutAlign="start center">
        <button mat-button color="primary" routerLink="/list">Agenda</button></div>
      <div fxFlex fxLayoutAlign="end center" >
        <button mat-button color="primary" routerLink="/list">Consulta</button>
        <button mat-button color="primary" routerLink="/doctor">Médico</button>
        <button mat-button color="primary" routerLink="/patient">Paciente</button>
      </div>
    </div>

  </mat-card-content>
</mat-card>
  <div class="medical-appointments-body">
    <router-outlet fxLayoutAlign="center center" fxLayoutMargin="20px"></router-outlet>
  </div>





