<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Agendamento de Consultas Médicas</mat-card-title>
    <mat-card-subtitle>Escolha atividade:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex fxLayoutAlign="start center">
        <button mat-button color="primary" routerLink="/list">Agenda</button></div>
      <div fxFlex fxLayoutAlign="end center" >
        <mat-icon aria-hidden="false" color="primary" aria-label="new">add_circle_outline</mat-icon>
        <button mat-button color="primary" routerLink="/list">Consulta</button>
        <button mat-button color="primary" routerLink="/doctor">Médico</button>
        <button mat-button color="primary" routerLink="/patient">Paciente</button>
      </div>

    </div>

    <!--    <a mat-button routerLink="/doctor">NOVO MÉDICO</a>-->

    <!--    <a class="nav-link" routerLink="/doctor">Doctor</a>-->
    <!--    <nav mat-tab-nav-bar [backgroundColor]="background">-->
    <!--      <a mat-tab-link *ngFor="let link of links"-->
    <!--         (click)="activeLink = link.route"-->
    <!--         [routerLink]="link.route"-->
    <!--         [active]="activeLink == link.route"> {{link.title}} </a>-->
    <!--    </nav>-->
  </mat-card-content>
</mat-card>
<div class="container">
  <router-outlet></router-outlet>
</div>
