<div class="body-netflix">
    <header>
        <div class="container">
            <h2 class="logo">FDRFLIX</h2>
            <nav>
                <a href="#">Início</a>
                <a href="#">Filmes</a>
                <a href="#">Séries</a>
                <a href="#">Documentários</a>
            </nav>
        </div>
    </header>

    <section class="main-movie">
        <div class="container">
            <h3 class="title">HOUSE OF CARDS</h3>
            <p class="description">Nada pode impedir Frank Underhood, um político sem escrúpulos de conquistar
                Washington. Assista agora a nova temporada de house of cards que está imperdível.</p>
            <div class="buttons">
                <i class="fas fa-play"></i>
                <button role="button" class="button">
                    <i class="fa fa-play"></i>
                    ASSISTIR AGORA
                </button>
                <button role="button" class="button">
                    <i class="fa fa-info-circle"></i>
                    MAIS INFORMAÇÕES
                </button>
            </div>
        </div>
    </section>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <section class="slide">
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini1.jpg"
                             alt="slide 1">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini2.jpg"
                             alt="slide 2">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini3.jpg"
                             alt="slide 3">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini4.jpg"
                             alt="slide 4">
                    </article>
                </section>
            </div>
            <!--/.First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <section class="slide">
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini5.jpg"
                             alt="slide 5">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini6.jpg"
                             alt="slide 6">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini7.jpg"
                             alt="slide 7">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini8.jpg"
                             alt="slide 8">
                    </article>
                </section>
            </div>
            <!--/.Second slide-->

            <!--Third slide-->
            <div class="carousel-item">
                <section class="slide">
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini9.jpg"
                             alt="slide 9">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini10.jpg"
                             alt="slide 10">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini6.jpg"
                             alt="slide 6">
                    </article>
                    <article class="item">
                        <img class="img-fluid w-auto" src="../../../../../assets/dio/img-netflix/mini4.jpg"
                             alt="slide 4">
                    </article>
                </section>
            </div>
            <!--/.Third slide-->
        </div>
        <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
</div>

