.body-netflix {
    background: var(--black);
    color: #FFF;
}

@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    button {
        display: flex;
        flex-direction: column;
        align-items:center
    }

    button {
        display: flex;
        flex-direction: row;
        width: 90vw;
        margin-bottom: 1em;
        justify-content: center;
        align-items:center
    }

    .main-movie .description {
        margin-bottom: 2em;
    }

    .main-movie .title {
        margin-top: 6em;
        font-size: 2em;
        font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    }

}

@media screen and (min-width: 701px) {
    header .container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        /*align-content: center;*/
        justify-content: space-between;
    }

    .main-movie .description {
        margin-bottom: 3em;
    }

    .main-movie .title {
        margin-top: 6em;
        font-size: 3em;
        font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    }

    .main-movie .container {
        width: 40em;
    }
}

header .logo {
    margin-top: .5em;
    color: var(--red);
    font-weight: 800;
    font-size: 2em;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 0.8em;
}

header nav a:hover {
    color: #FFF;
}

.main-movie {
    font-size: 1em;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url("src/assets/dio/img-netflix/capa-house.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}





.button {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: #FFF;
    padding: 1em 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: .5s ease all;
}

.button:hover {
    color: #000;
    background-color: #FFF;
}

.button i {
    margin-right: .5em;
}


.item {
    background-color: #0095f6;
}

.container {
    margin-left: 1em;
}

.movie-carousel {
    display: flex;
    width: 30em;
    flex-direction: row;
}

.slide {
    display: flex;
}







